body { margin:0; padding:0; }
h2,
h3 {
  margin: 8px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 8px;
  text-align: left;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
#menu {
  /* When selected layer is not active */
  background: rgba(200,200,200, 0.8);
  position: absolute;
  z-index: 1;
  top:155px;
  left: 40px;
  border-radius: 3px;
  border-color: #fff;
  outline-width: 2px;
  width: 220px;
  font-family: 'Consolas', Arial, Helvetica, sans-serif;
}
#menu-styles{
  position: absolute;
  bottom: 50px;
  right: 25px;
  background-color: hsl(55,1%,20%);
  border: 1px solid white;
  padding: 10px;
  font-family: 'Consolas', sans-serif;
  -webkit-text-fill-color: #fff;
  }
#menu a {
  font-size: 15px;
  display: block;
  margin: 1px;
  -webkit-border-before-color: rgba(200, 200, 200, 1);
  padding: 5px;
  text-decoration: none;
  border-radius: 2px;
  text-align: left;
  text-emphasis-color: #000000;
  -webkit-text-fill-color: #000000;
  border: 1px solid white;
}

#menu a:last-child {
  border: 1px solid white;
}

#menu a:hover {
  color: rgba(255, 255, 255, 1);
}

#menu a.active {
  /* When selected layer is active */
  background-color: rgba(255, 255, 255, 1);
}

#menu a.active:hover {
  background: #3074a4;
}
.map-overlay {
  font: 15px/30px 'Consolas', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 310px;
  top: 155px;
  left: 10px;
  border-radius: 3px;
}
.intro-header {
  font: 18px/25px 'Consolas', Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: rgba(51, 51, 50, 0.5);
  -webkit-text-fill-color: #fff;
  width: 185px;
  height: 140px;
  bottom: 10px;
  left: 10px;
  padding: 0px;
  border-radius: 3px;
  outline-width: 2px;
}
#features {
  top: 0;
  height: 140px;
  margin-top: 5px;
  width: 330px;
}

.legend-key {
  display: inline-block;
  border-radius: 10%;
  width: 20px;
  height: 15px;
  margin-right: 5px;
  border-radius: 3px;
  outline-width: 2px;
}
/**Bottom two legend boxes
*/
.map-overlay .map-overlay-inner {
  background-color: rgba(51, 51, 50, 0.5);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  -webkit-text-fill-color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 35px;
  width: 242px;
}
.map-overlay .map-overlay-timeline {
  background-color: rgba(51, 51, 50, 0.5);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  -webkit-text-fill-color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 25px;
  width: 242px;
}

.map-overlay h2 {
  line-height: 20px;
  display: block;
  margin: 0 0 5px;
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 20px/35px 'Consolas', Arial, Helvetica, sans-serif,bold;
}
.mapboxgl-popup-content {
  background: #f5c0c0;
}
a:link{
  color:rgb(0, 204, 255);
}
a:visited{
  color:rgb(0, 204, 255);
}
