body { margin:0; padding:0; }
h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top:50px;
  left: 10px;
  border-radius: 3px;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
}
#menu a {
  font-size: 30px;
  color: #777;
  display: block;
  margin: 0px;
  border-color: #999;
  outline-color: #999;
  -webkit-border-before-color: #888;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  text-align: center;
  text-emphasis-color: #000000;
  -webkit-text-fill-color: #000000;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #777;
}

#menu a.active {
  background-color: #777;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}
.map-overlay {
  font: 20px/35px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 25%;
  top: 50px;
  left: 300px;
  padding: 0px;
  border-radius: 3px;
}
#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.map-overlay .map-overlay-inner {
  background-color: #777;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, rgb(141, 171, 255), rgb(40, 212, 255), rgb(0, 255,0), rgb(255, 255,0), rgb(255, 200, 0));
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 20px/35px 'Helvetica Neue', Arial, Helvetica, sans-serif,bold;
}
.mapboxgl-popup-content {
  background: #f5c0c0;
}