body { margin:0; padding:0; }
h2,
h3 {
  margin: 8px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 8px;
  text-align: left;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
#menu {
  background: rgba(200, 200, 200, 1);
  position: absolute;
  z-index: 1;
  top:150px;
  left: 10px;
  border-radius: 3px;
  width: 180px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#menu a {
  font-size: 15px;
  display: block;
  margin: 0px;
  border-color: rgba(200, 200, 200, 0.8);
  outline-color: rgba(200, 200, 200, 0.8);
  -webkit-border-before-color: rgba(200, 200, 200, 1);;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  text-align: center;
  text-emphasis-color: #000000;
  -webkit-text-fill-color: #000000;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  color: rgba(200, 200, 200, 1);
}

#menu a.active {
  background-color: rgba(200, 200, 200, 1);
}

#menu a.active:hover {
  background: #3074a4;
}
.map-overlay {
  font: 15px/30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  bottom: 25px;
  left: 0px;
  padding: 10px;
  border-radius: 3px;
}
.intro-header {
  font: 18px/25px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: rgba(200, 200, 200, 1);
  width: 200px;
  height: 130px;
  bottom: 10px;
  left: 10px;
  padding: 0px;
  border-radius: 3px;
}
#features {
  top: 0;
  height: 130px;
  margin-top: 5px;
  width: 450px;
}

.legend-key {
  display: inline-block;
  border-radius: 10%;
  width: 6px;
  height: 8px;
  margin-right: 5px;
}
/**Bottom two legend boxes
*/
.map-overlay .map-overlay-inner {
  background-color: rgba(200, 200, 200, 1);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 25px;
}

.map-overlay h2 {
  line-height: 18px;
  display: block;
  margin: 0 0 5px;
}

.map-overlay .legend .bar {
  height: 8px;
  width: 100%;
  background: linear-gradient(to right, rgb(141, 171, 255), rgb(40, 212, 255), rgb(0, 255,0), rgb(255, 255,0), rgb(255, 200, 0));
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 20px/35px 'Helvetica Neue', Arial, Helvetica, sans-serif,bold;
}
.mapboxgl-popup-content {
  background: #f5c0c0;
}
